<a href="https://colab.research.google.com/github/gayathrivanaparthy/2216133-aiml-bootcamp/blob/main/Malarialog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#step1
dataset="/content/drive/MyDrive/outbreak_detect.csv"
import pandas as pd

df=pd.read_csv(dataset)#dataframe-2D

In [ ]:

df.head()

   maxTemp  minTemp  avgHumidity  Rainfall  Positive   pf Outbreak
0     29.0     18.0        49.74      0.00      2156  112       No
1     34.0     23.0        83.27     15.22     10717  677      Yes
2     40.0     23.0        50.74      0.00      1257  127       No
3      NaN     24.0        84.57     11.15      9693  482       No
4     34.0     24.0        59.16      9.06      4198  211       No

In [ ]:
df.isnull().sum()

maxTemp        2
minTemp        1
avgHumidity    0
Rainfall       0
Positive       0
pf             0
Outbreak       1
dtype: int64

In [ ]:

df.dropna()

    maxTemp  minTemp  avgHumidity  Rainfall  Positive   pf Outbreak
0      29.0     18.0        49.74      0.00      2156  112       No
1      34.0     23.0        83.27     15.22     10717  677      Yes
2      40.0     23.0        50.74      0.00      1257  127       No
4      34.0     24.0        59.16      9.06      4198  211       No
5      34.0     27.0        73.23      0.00     11808  712      Yes
6      31.0     24.0        88.77     41.40     10881  648      Yes
7      33.0     24.0        77.94     23.88      8830  459      Yes
8      31.0     24.0        84.57     11.15      9693  482       No
9      36.0     24.0        53.40      2.12      9310  549       No
10     32.0     23.0        57.50      0.00     13154  838      Yes
11     34.0     18.0        59.40      0.00      2197  136       No
12     42.0     24.0        49.43      2.19      3362  213       No
13     45.0     32.0        34.74      0.38       416   26       No
14     43.0     28.0        69.07      4.65      7514  410       No
15     33.0     23.0        80.97      6.92     10990  390      Yes
16     32.0     24.0        87.32     11.92      6536  338       No
17     40.0     27.0        63.97      0.00     11169  776      Yes
19     39.0     25.0        47.52      0.00      8131  312       No
20     36.0     26.0        72.78      3.54      5138  213       No
21     31.0     23.0        73.35      4.97     10659  612      Yes
22     30.0     23.0        86.81      7.21      9041  418       No
23     30.0     22.0        78.80      3.12     11265  404      Yes
24     33.0     22.0        73.71      1.75      9233  212       No

In [ ]:
df.isnull().sum()

maxTemp        2
minTemp        1
avgHumidity    0
Rainfall       0
Positive       0
pf             0
Outbreak       1
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
#data processing
from sklearn import preprocessing  
#labelencoding
LE=preprocessing.LabelEncoder()
#fitting it to our dataset
df.Outbreak=LE.fit_transform(df.Outbreak)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 24
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   maxTemp      23 non-null     float64
 1   minTemp      23 non-null     float64
 2   avgHumidity  23 non-null     float64
 3   Rainfall     23 non-null     float64
 4   Positive     23 non-null     int64
 5   pf           23 non-null     int64
 6   Outbreak     23 non-null     int64
dtypes: float64(4), int64(3)
memory usage: 1.4 KB

In [ ]:
from matplotlib.axis import YTick
#method 2 to load the data in the form of arrays -by library numpy
import numpy as np
X=np.array(df[['minTemp','maxTemp','avgHumidity','Rainfall','Positive','pf']])
Y=np.array(df[['Outbreak']])

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [ ]:
df.isnull().sum()

maxTemp        0
minTemp        0
avgHumidity    0
Rainfall       0
Positive       0
pf             0
Outbreak       0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=20)

In [ ]:
from sklearn.linear_model import LogisticRegression
l=LogisticRegression()
l.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
y_pred=l.predict(X_test)

In [ ]:
y_pred

array([0, 0, 1, 1, 1])

In [ ]:
print("Predicted value for training data:",l.score(X_train,Y_train)*100)
print("Predicted value for testing data:",l.score(X_test,Y_test)*100)

Predicted value for training data: 88.88888888888889
Predicted value for testing data: 100.0

In [ ]:
a=l.score(X,Y)*100
a

91.30434782608695

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, y_pred) 
print(cm) 
accuracy_score(Y_test, y_pred) #TN FP FN TP

[[2 0]
 [0 3]]

1.0